<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading">
        <span jhiTranslate="internationalCuisineFinalApp.transaction.detail.title">Transaction</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span jhiTranslate="internationalCuisineFinalApp.transaction.subTotal">Sub Total</span></dt>
        <dd>
          <span>{{ transaction.subTotal }}</span>
        </dd>
        <dt><span jhiTranslate="internationalCuisineFinalApp.transaction.tax">Tax</span></dt>
        <dd>
          <span>{{ transaction.tax }}</span>
        </dd>
        <dt><span jhiTranslate="internationalCuisineFinalApp.transaction.total">Total</span></dt>
        <dd>
          <span>{{ transaction.total }}</span>
        </dd>
        <dt><span jhiTranslate="internationalCuisineFinalApp.transaction.lastFourDigits">Last Four Digits</span></dt>
        <dd>
          <span>{{ transaction.lastFourDigits }}</span>
        </dd>
        <dt><span jhiTranslate="internationalCuisineFinalApp.transaction.user">User</span></dt>
        <dd>
          <span>{{ transaction.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
