<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="restaurantMenu">
      <h2 data-cy="restaurantMenuDetailsHeading">
        <span jhiTranslate="internationalCuisineFinalApp.restaurantMenu.detail.title">Restaurant Menu</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ restaurantMenu.id }}</span>
        </dd>
        <dt><span jhiTranslate="internationalCuisineFinalApp.restaurantMenu.title">Title</span></dt>
        <dd>
          <span>{{ restaurantMenu.title }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant-menu', restaurantMenu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
